.card {
    align-items: flex-start;
    height: auto;
}

.divider {
    margin-top: 8px;
    margin-bottom: 8px;
    border-bottom: 1px solid var(--border);
}

.heading {
    color: var(--black);
    font-weight: 500;
}

.secondary {
    color: var(--secondary);
}

.link {
    text-decoration: none;
    color: var(--text);
}

.button {
    height: 48px;
    width: 48px;
    border-radius: 100px;
    padding: 14px;
}